@import "./libs/reset.scss";

body {
    margin: 0 1rem;
    font-family: sans-serif;
    background-color: rgb(253, 250, 250);
}

nav {
    display: flex;
    margin-bottom: 2rem;

    a {
        cursor: default;
    }

    a:first-child {
        flex-grow: 2;
    }

    i {
        padding: 1rem;
        cursor: pointer;
        color: gray;
    }
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

h3 {
    text-transform: uppercase;
    color: gray;
}

.containCat {
    display: flex;

    .catCard {
        margin: 2rem 0;
        padding: 1rem;
        border-radius: 20px;
        background-color: white;
    }
}

#list {
    padding: 1rem 0;

    li {
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 1rem;
        margin-bottom: 0.2rem;
        border-radius: 20px;

            p{
                width: 100%;
                word-break: break-word;
            }
    }
}

#addTask {
    position: fixed;
    bottom: 20px;
    right: 20px;

    i {
        cursor: pointer;
        font-size: 4rem;
        color: lightblue;
    }

}

.fa-circle {
    margin-right: 1rem;
}

.fa-trash {
    margin-left: 1rem;
}

.chekedTask {
    p {
        text-decoration: line-through;
    }
}

li {
    cursor: pointer;
}

#count {
    position: fixed;
    bottom: 40px;
    left: 20px;
}

#userSpace,
#createTask {

    display: none;

    &.show {
        display: block;

        &#userSpace {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            left: 0;
        }
    }

    &.overlay {
        position: fixed;
        width: 100%;
        height: 100%;
    }

}

#userSpace {
    background-color: lightblue;
    top: 0;

    #userInfo {
        margin: 1rem;
        position: relative;

        a {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    #options {
        display: flex;
        flex-direction: column;
    }

}

#createTask {
    background-color: lightcoral;
    top: 0;
}